.main{
    background-color: #31363F;
    padding-top: 80px;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    font-size: 50px;
    color: white;
    font-weight: 800;
}